<h1>Dashboard</h1>

<div id="title">
<h1>Welcome, <%= current_user.username %>!</h1>
</div>

<%= link_to "Add Location", "locations/new" %>
<br>
<br>

Your Current Location: <% current_user.locations.each do |location|%>
                         <li><%= location.name %></li>
                       <% end %>
<br>
<br>
