<div id="outer">
  <div class="inner">
      <div class="btn btn-outline-primary" >
        <%= link_to 'Home', '/home', method: :get, class: "a-primary" %>
      </div>
  </div>

  <div class="inner">
    <div class="inner_right">
      <div class="btn btn-outline-primary" >
        <%= link_to 'Sign Up', '/register', method: :get, class: "a-primary" %>
      </div>
  </div>
</div>